html{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 35px;
}
#commento{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.main-content {
    z-index: 100;
    width: 40vw;
    height: 40vw;
    position: absolute;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
}
.secondary-content{
    width: 32.5%;
    height: 33%;
}
.content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    
    margin: 10%;
}
.cell{
    width: 32%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.north-west{
    border-right: 1px solid rgb(121, 119, 130);
    border-bottom: 1px solid rgb(121, 119, 130);
}
.north-center{
    border-left: 1px solid rgb(121, 119, 130);
    border-right: 1px solid rgb(121, 119, 130);
    border-bottom: 1px solid rgb(121, 119, 130);
}
.north-est{
    border-left: 1px solid rgb(121, 119, 130);
    border-bottom: 1px solid rgb(121, 119, 130);
}
.center-west{
    border-top: 1px solid rgb(121, 119, 130);
    border-right: 1px solid rgb(121, 119, 130);
    border-bottom: 1px solid rgb(121, 119, 130);
}
.center-center{
    border-top: 1px solid rgb(121, 119, 130);
    border-left: 1px solid rgb(121, 119, 130);
    border-right: 1px solid rgb(121, 119, 130);
    border-bottom: 1px solid rgb(121, 119, 130);
}
.center-est{
    border-top: 1px solid rgb(121, 119, 130);
    border-left: 1px solid rgb(121, 119, 130);
    border-bottom: 1px solid rgb(121, 119, 130);
}
.south-west{
    border-right: 1px solid rgb(121, 119, 130);
    border-top: 1px solid rgb(121, 119, 130);
}
.south-center{
    border-left: 1px solid rgb(121, 119, 130);
    border-right: 1px solid rgb(121, 119, 130);
    border-top: 1px solid rgb(121, 119, 130);
}
.south-est{
    border-left: 1px solid rgb(121, 119, 130);
    border-top: 1px solid rgb(121, 119, 130);
}

.north-west.secondary-content{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.north-center.secondary-content{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.north-est.secondary-content{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.center-west.secondary-content{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.center-center.secondary-content{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.center-est.secondary-content{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.south-west.secondary-content{
    border-right: 2px solid black;
    border-top: 2px solid black;
}
.south-center.secondary-content{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}
.south-est.secondary-content{
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.vittoria{
    color: red
}
.nonSelezionato{
    background-color: #f3f3f3;
}
.vittoria-player{
    background-color: aqua;
}
.vittoria-adversary{
    background-color: red;
}
.player-select {
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.player-select:before, .player-select:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.player-select:before {
  transform: rotate(45deg);
}
.player-select:after {
  transform: rotate(-45deg);
}
/* 
.adversary-select {
   width: 32px;
  height: 32px;
  background: transparent;
  box-shadow: 0 0 0 2px #333;
  clip-path: circle(50%);
}

 */

#gameover-text{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    align-content: center;
    opacity: 0.8;
}
#gameover-text.in-progress{
    background-color: transparent;
    z-index: -1;
}
.info-box {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    display: flex
;
    align-items: center;
}

/* Contenuto che si espande */
.info-content {
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50px;
  transition:
    width 0.6s ease,
    background-color 0.6s ease,
    transform 0.6s ease;
}

/* Stato espanso */
.info-content.expanded {
  width: 300px;
}

/* Immagine */
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: width 0.4s ease, height 0.4s ease;
}

.info-content.expanded .avatar img {
  width: 70px;
  height: 70px;
}

/* Testo che appare da sinistra */
.status-text {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition:
    opacity 0.4s ease 0.2s,
    transform 0.4s ease 0.2s;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

.info-content.expanded .status-text {
  opacity: 1;
  transform: scaleX(1);
}
#adversaryBox{
    position: absolute;
    right: 1%;
    top: 5%;
    background-color: red;
}
#playerBox{
    position: absolute;
    left: 1%;
    bottom: 5%;
    background-color: aqua;
}
#adversaryBox img{
  border: 4px solid red;
}
#playerBox img{
  border: 4px solid aqua;
}